// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;

  & > li > a, & > li > button {
    display: block;
    padding: 0 $menu-link-padding-x;
  }

  &.menu--column {
    flex-direction: column;
  }
}

//
// Justified variants
//

menu.menu--fill {
  > li > a,
  > li > button,
  > li {
    flex: 1 1 auto;
    text-align: center;
  }
}

menu.menu--justified {
  > li > a,
  > li > button,
  > li {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

menu.menu--fill,
menu.menu--justified {
  & > li > button {
    width: 100%; // Make sure button will grow
  }
}
