.collapse {
  &__content {
    top: 2rem;

    &--open {
      animation: collapse-animation 0.5s ease-in forwards;
    }
  }

  &__toggle {
    padding-top: $menu-link-padding-x;
    padding-bottom: $menu-link-padding-x;
    height: auto;
    &::after{
      content: '>';
    }
    &--open::after {
      content: 'v';
      transform: rotate(90deg);
    }
  }

  &__symbol {
    position: absolute;
    transition-property: transform;
  }
}

@keyframes collapse-animation {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100rem;
  }
}
