.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  /* Modal Content */
  &__content--left {
    position: fixed;
    height: 100%;
    background-color: #fefefe;
    width: 80%;
    left: 0;
  }

  &__content--right {
    position: fixed;
    height: 100%;
    background-color: #fefefe;
    width: 80%;
    right: 0;
  }

  &--open-left {
    display: block;
    -webkit-animation-name: slideLeft;
    -webkit-animation: slideLeft 0.4s ease-in-out;
    animation-name: slideLeft;
    animation: slideLeft 0.4s ease-in-out;
  }

  &--open-right {
    display: block;
    -webkit-animation-name: slideRight;
    -webkit-animation: slideRight 0.4s ease-in-out;
    animation-name: slideRight;
    animation:slideRight  0.4s ease-in-out;
   
  }
  /* The Close Button */
  &__button-close {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 2rem;
    &:hover {
      cursor: pointer;
    }
  }

  /* Add Animation */
  @-webkit-keyframes slideLeft {
    from {
      left: -300px;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes slideLeft {
    from {
      left: -300px;
      opacity: 0;
    }
    to {
      left: 0;
      opacity: 1;
    
    }
  }

  @-webkit-keyframes slideRight {
    from {
      right: -300px;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }

  @keyframes slideRight {
    from {
      right: -300px;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }
}
