.dropdown {
  &__content {
    top: 2rem;
    &--open {
      animation: dropdown-animation 0.5s ease-in forwards;
    }
  }
  &__toggle {
    padding-top: $menu-link-padding-x;
    padding-bottom: $menu-link-padding-x;
    height: auto;
    @include caret();
    &--open {
      @include caret(end);
    }
  }
}

@keyframes dropdown-animation {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100rem;
  }
}
