
$footer-bg-color: #282828;
$footer-text-color: #eee;
$footer-link-color: rgb(214, 205, 205);

.s-footer{
    height: fit-content;
    color: $footer-text-color;
    background-color: $footer-bg-color;
    padding: 40px 0;

    &__icon{
        width: 25px;
        height: 25px;
        color: white;
        margin-right: 10px;
    }
    
}


