.s-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $spacer;
  background: $light-grey;
  font-size: $font-size-sm;

  a {
    color: black;

    &:visited {
      color: black;
    }

    &:hover {
      color: $dark-grey;
    }
  }
}