.s-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $spacer;
  background: $light-grey;
  font-size: $font-size-sm;

  &__mortgage-licence {
    margin-bottom: 0.5 * $spacer;
    text-align: justify;
  }

  &__real-estate-licence {
    margin-bottom: 1.5 * $spacer;
    text-align: justify;
  }

  &__contact-info {
    display: flex;
    margin-bottom: 1.5 * $spacer;

    .bi-envelope {
      margin-right: 0.2 * $spacer;
    }

    &__contact-info__email {
      margin-right: 0.5 * $spacer;
    }

    .bi-headset {
      margin-left: 0.5 * $spacer;
      margin-right: 0.2 * $spacer;
    }
  }

  &__copyright {
    margin-bottom: $spacer;

    &__copyrights {
      margin-bottom: 0.5 * $spacer;
    }

    &__term-policy {
      display: flex;
      justify-content: center;
      color: black;

      & > a {
        color: black;

        &:visited {
          color: black;
        }

        &:hover {
            color: $dark-grey;
        }
      }      
    }
  }

  
}