$header-bg-color: cyan;
$header-text-color: black;
$header-link-color: black;

.s-page-header {
    padding: 0.5rem 0 5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &__title {
        float: left;
        width: 50%;
        text-align: center;
        color: $header-text-color;

        img {
            padding: 0 0 0.5rem 0;
            width: 20rem;
            height: 5rem;
        }
        h1 {
            padding: 0.5rem 0 0 0;
            font-size: 2rem;
        }
    }

    menu {
        font-size: 1.5rem;
        line-height: 0.9rem;
    }

    &__left-menu {
        float: left;
        width: 25%;
        padding: 1.5rem 0;
    }

    &__right-menu {
        float: right;
        padding: 1.5rem 1rem 0;
    }

    a {
        color: $header-link-color;
        text-decoration: none;
    }

    i {
        font-style: normal;
    }

    button {
        color: $header-text-color;
        padding: 0 1rem 2rem 1rem;
    }

    &--no-shadow {
        box-shadow: unset;
    }

    &__background-color {
        background-color: $header-bg-color;
    }
}
