$header-bg-color: #282828;
$header-text-color: black;
$header-link-color: black;

.s-page-header {
    display: flexbox;
    padding: 1rem 0 5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &__title {
        float: left;
        width: 50%;
        text-align: center;
        color: $header-text-color;
        img {
            padding: 1rem 0;
            width: unset;
            height: 1rem;
        }
    }

    &__left-menu {
        width: 25%;
        padding: 1rem 0;
        float: left;
    }

    &__right-menu {
        padding: 1rem 1rem 0;
        float: right;
    }

    a {
        color: $header-link-color;
        text-decoration: none;
    }

    &--no-shadow {
        box-shadow: unset;
    }
}
