
.s-icircle {
    --circle-radius: 9rem;
    --circle-color: #{$primary-color};
    --text-color: white;

    width: var(--circle-radius);
    height: var(--circle-radius);
    border-radius: 50%;
    background-color: var(--circle-color);
    color: var(--text-color);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
    &:hover {
        background-color: shift-color($primary-color, 20%);
        transform: scale(1.1);
    }
    
    &__icon {
        font-size: 4rem;
        svg {
            width: 5rem;
            animation: test 0.2s ease-in-out;
            @keyframes test {
                from { width: 1rem; }
                to   { width: 6rem; }
            }
        }
    }
    
    h2 {
        font-size: 1.25rem;
        color: #fff;
        transition: font-size 0.2s ease-in-out;
    }

    &:hover h2 {
        font-size: 1.5rem;
    }
}