.container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    background-image: url(../../tasks/task-010/bg.jpg);
    text-align: center;
}

.title {
    margin: 30px 10px;
    font-size: 72px;
    font-weight: 700;
    color: $primary-color;
    text-shadow: $box-shadow;
}

.subtitle {
    width: 80%;
    margin: 0 auto;
    background-color: $light-grey;
    font-size: 1.3rem;
    border-radius: 10px;
}

.bottom-section {
    background-color: $primary-color-shade;
    color: $light-grey;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 0;
    padding: 30px;
    
    .link {
        width: 600px;
        margin: 50px auto;
        font-size: 1.7rem;
        font-weight: 600;
        border: 2px solid #fff;
        border-radius: 5px;
}

.s-icircle {
    margin-left: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $primary-color;
    text-align: center;
    color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
    
    &:hover {
        background-color: shift-color($primary-color, 20%);
        transform: scale(1.1);
        
        &__icon {
            font-size: 100px;
        }
    }
    
    &__icon {
        padding-top: 24px;
        font-size: 90px;
        transition: font-size 0.2s ease-in-out;
    }
    
    &:hover &__icon {
        font-size: 80px;
    }
}

.s-icircle__text {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;

    &__title {
        font-size: 2.3rem;
    }
}

}