
/* reboots
===================== */
label.disabled {
  color: $grey;
}

.dropdown.selectbox .dropdown-toggle {
  text-decoration: none;
  color: #222;
  display: block;
  padding: 0.45rem;
  border: 1px solid $grey;
  border-radius: 5px;
  width: 100%;

  @include dot-text-overflow();
}

/* utilities
======================== */
.s-input-error {
  font-size: 0.875rem;
  color: red;
  margin-top: 0.25rem;
}


.s-required {
  color: red;
  font-size: 1rem;
  &:after {
    content: "*";
  }
}

input.s-input-error, select.s-input-error {
  border-color: red;
}


/* default check-box
============================ */

check-box.default {

  display: block;
  width: fit-content;
  cursor: pointer;

  & > div {

  }

  & > div > div:first-child {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    margin-top: 0.25rem;

    border: 1px solid $grey;

    div {
      text-align: center;
      display: none;
      margin-top: -2px;
    }
  }

  label {
    font-size: $font-size-base;
    width: fit-content;
    cursor: pointer;
  }

  &.active {
    & > div > div:first-child {
      background-color: $primary-color;
      border: 1px solid black;

      div {
        display: block;
        color: white;
      }
    }
  }

}

/* default radio-box
============================ */

radio-box.default {

  display: block;
  width: fit-content;
  cursor: pointer;

  & > div {

  }

  & > div > div:first-child {
    width: 1.45rem;
    height: 1.45rem;
    margin-right: 0.5rem;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-top: 0.25rem;

    div {
      text-align: center;
      display: none;
      margin-top: -1px;
      margin-right: 1px;
      font-size: 1.2rem;
    }
  }

  label {
    font-size: $font-size-base;
    width: fit-content;
    cursor: pointer;
  }

  &.active {
    & > div > div:first-child {
      background-color: $primary-color;
      border: unset;

      div {
        display: block;
        color: white;
        font-weight: bold;
      }
    }

  }
}

/* min-max-box
======================== */
min-max-box {
  label {
    margin-right: 0.5rem;
  }

  .min-max-box__first-input-wr,
  .min-max-box__second-input-wr {
    margin-right: 1rem;
  }

  input {
    max-width: 120px;

    &:focus {
      font-size: $font-size-base;
    }
  }

  button {
    color: $grey;
    &:hover {
      color: $body-color;
    }
  }
}


