.s-partner-logos {
  div {
    border-right: 1px dotted $light-grey;
    border-bottom: 1px dotted $light-grey;
    display: flex;
    align-items: center;
  }
  img {
    height: auto;
  }
  & :nth-child(6n + 6) {
    border-right: none;
  }
  & :nth-child(n + 13):nth-child(-n + 16) {
    border-bottom: none;
  }
}
