
body {
  color: $body-color;
}

a, button {
  color: $primary-color;
  background-color: transparent;
  &:hover {
    color: $primary-color-shade;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: 900;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
select {
  width: 100%;
  border: 1px solid $grey;
  padding: 0.5rem;
  color: $body-color;
  border-radius: 0.25rem;
  height: $input-height;

  &:focus {
    border: 1px solid $primary-color;
    box-shadow: $box-shadow-sm;
    //font-size: 1.3rem;
  }

  &:disabled {
    color: $grey;
    border: 1px solid $light-grey;
  }
}

select {
  background-color: white;
}

textarea {
  width: 100%;
  border: 1px solid $grey;
  padding: 0.5rem;
  color: $body-color;
  border-radius: 0.25rem;

  &:focus {
    border: 1px solid $primary-color;
    box-shadow: $box-shadow-sm;
    //font-size: 1.3rem;
  }

  &:disabled {
    color: $grey;
    border: 1px solid $light-grey;
  }
}

button {
  height: $input-height;
}

body {
  font-family: 'Nunito', sans-serif;
}