.s-section {
  background: $light-grey;

  h2 {
    padding: 1.125 * $spacer $spacer 0.375 * $spacer $spacer;
    font-size: $font-size-lg;
    color: $dark-grey;
  }

  .s-section__content {
    background: white;
    padding: 0.5 * $spacer $spacer;
  }
}
