/* theme variables
============================ */
$primary-color: #3f48cc;
$primary-color-shade: shift-color($primary-color, 50%);
$primary-bg-light: shift-color($primary-color, -95%);

$secondary-color: #ff0000;

$body-color: #2a2a33;

$light-grey: #e5e5e5;
$grey: #aaa;
$dark-grey: #777;

$red: #dc3545;

$font-size-base: 1rem;
$padding-x-base: 1*$spacer;

$box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba(black, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba(black, 0.175);

$border-rounded: 20px;

$input-height: 40px;
