.s-icircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $primary-color;
}

.s-icircle:hover {
    background-color: $primary-color-shade;
}

.s-icircle__icon {
    text-align: center;
    padding-top: 60px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
}

.s-icircle__text {
    font-size: 1.2rem;
    font-weight: 400;
}