
.ss-prop-card {
  @include rounded();

  &__img {
    position: relative;
    width: 100%;
    height: 170px;
    cursor: pointer;

    @include rounded();

    img {
      @include rounded();
      @include cover();
      object-fit: cover;

      //@include image-hover-grow();
    }

    /*.overlay {
      visibility: hidden;
      @include overlay(100);
      @include rounded();
    }

    &:hover .overlay,
    &:hover .overlay-btn-group {
      visibility: visible;
    }*/
  }

  /*.overlay-btn-group {
    visibility: hidden;

    @include cover();
    position: absolute;
    top: 0;

    &__cell {
      position: relative;
      height: 33.33%;
      border: 1px solid #eee;
      cursor: pointer;
      z-index: 200;

      &:hover {
        background-color: $primary-color;
        opacity: 100%;
        color: white;
        font-weight: bold;
        font-size: 1.125rem;
      }

      &--text {
        @include center();
        color: #eee;
      }

      &--c1 {
        border-top-left-radius: $border-rounded;
      }

      &--c2 {
        border-top-right-radius: $border-rounded;
      }

      &--c3 {
        border-bottom-left-radius: $border-rounded;
      }

      &--c4 {
        border-bottom-right-radius: $border-rounded;
      }
    }
  }*/

  &__content {
    font-size: 0.6875rem;
    color: black;
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;

    * {
      @include dot-text-overflow();
    }
  }

  &__date {
    //@include dot-text-overflow();
    //font-size:10px;
    font-style: italic;
    margin-right: 0.25rem;
  }

  &__address {
    color: $dark-grey;
  }

  &__essentials {
    font-weight: 500;
    color: $body-color;
  }

  &__price {
    font-size: 0.8125rem;
    margin-right: 0.3125rem;
    color: #ff6d00;
  }
  &__price-psf {
    font-style: italic;
    margin-left: 0.3125rem;
    /* text-decoration: underline; */
    color: #212529;
    background-color: #eee;
    border-radius: 2px;
    padding: 0.125rem;
  }

  &:focus {
    //outline: none;
    border: 1px solid red;
  }

}
